#root {
  background-color: #F5EAEA;
}

.skills {
  letter-spacing: 2px;
}

.dropdown-btn {
  text-decoration: none !important;
}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #00A651;
}

.carousel-indicators .active {
    background-color: #00A651;
}

.slider {
    height: 50%;
}

.contact-header {
    margin-top: 80px;
    margin-bottom: 40px;
}

.contact-form {
    padding-right: 20%;
    padding-left: 20%;
}

@media screen and (max-width: 600px) {
  .contact-form {
    padding-right: 10%;
    padding-left: 10%;
    }
}

@media screen and (max-width: 600px) {
  .contact-form {
    padding-right: 10%;
    padding-left: 10%;
    }
}

.nav-link {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .nav-link {
        font-size: 0.8em;
    }
}

.spacing {
    height: 100px;
}

.contact-headline {
    margin-right: 5%;
    margin-left: 5%;
}
