#root {
  background-color: #F5EAEA;
}

.skills {
  letter-spacing: 2px;
}

.dropdown-btn {
  text-decoration: none !important;
}

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
}

.carousel-control-prev,
.carousel-control-next {
    display: none;
} */

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #00A651;
}

.carousel-indicators .active {
    background-color: #00A651;
}

.slider {
    height: 50%;
}
